
    
            <div class="panel panel-default row" ng-controller="usterkaListCtrl">
                <div class="col-xs-3">
                    <a ng-click="selectCategory()"
                       class="btn btn-block btn-default btn-lg">Strona główna</a>
                    <a ng-repeat="item in data.task | orderBy:'category' | unique:'category'"
                       ng-click="selectCategory(item)" class=" btn btn-block btn-default btn-lg"
                       ng-class="getCategoryClass(item)">
                        {{item}}
                    </a>
                </div>
            
                <div class="col-xs-9">
                        <div class="panel" ng-hide="data.error">
        <!--<pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre><hr />-->
                            <table ng-controller="LogController" class="table table-striped">
                                <thead>
                                    <tr>
                                        <!--<th>
                                            <!-- łączenie więcej niż jednego wywołania funkcji przy pomocy ng-click
                                            Tworzenie loga przy pomocy wbudowanej funckji angularJS-->
                                            <!--                    <a href="" ng-click="order('id'); $log.log('predicate: ' + predicate+' reverse: '+reverse)">ID</a>-->
                                         <!--   <a href="" ng-click="order('id')">ID</a>
                                            <span class="sortorder" ng-show="predicate === 'id'"
                                                  ng-class="{reverse:reverse}"></span>
                                        </th>-->
                                        <th>
                                            <a href="" ng-click="order('title')">Tytuł</a>
                                            <span class="sortorder" ng-show="predicate === 'title'"
                                                  ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            Zdjęcie                       
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('date')">Data</a>
                                            <span class="sortorder" ng-show="predicate === 'date'"
                                                  ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('visits')">Odwiedziny</a>
                                            <span class="sortorder" ng-show="predicate === 'priority'"
                                                  ng-class="{reverse:reverse}"></span>
                                        </th>
                                        <th>
                                            <a href="" ng-click="order('rating')">Ocena</a>
                                            <span class="sortorder" ng-show="predicate === 'priority'"
                                                  ng-class="{reverse:reverse}"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in data.task | orderBy:predicate:reverse | filter:categoryFilterFn | range:selectedPage:pageSize">
                                        
                                        <!--<th >{{item.id}}</th> ng-if="$scope.username=='admin'"-->
                                        <th><a href="#/events/{{item.id}}" >{{item.title}}</a></th>
                                        <th><img class="homeIMG" ng-src="{{item.images}}" /></th>
                                        <th>{{item.date}}</th>
                                        <th>{{item.visits}}</th>
                                        <th>{{calculateAverage(item.rating)|number:2}}</th>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pull-right btn-group"><a ng-repeat="page in data.task | filter:categoryFilterFn | pageCount:pageSize" ng-click="selectPage($index + 1)" class="btn btn-default" ng-class="getPageClass($index+1)">{{$index+1}}</a></div>
                        </div>
                </div>

            </div>
