<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="jumbotron" style="background:#fff;">
                <h1>Moje M2</h1>
                <p>Witaj na stronie projektu <i><b>Moje M2</b></i></p>
                <p><a class="btn btn-info btn-lg" href="#" role="button"><span class="glyphicon glyphicon-plus"></span>Przeczytaj więcej</a></p>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header">
                        <h3>Zaloguj się do <br /><i><b>Moje M2</b></i></h3>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                                <input class="form-control" id="exampleInputEmail1" placeholder="Wprowadź email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Hasło</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-star"></span></span>
                                <input class="form-control" placeholder="Wprowadź hasło">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span>Wstecz</button>
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-lock"></span>Zaloguj</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>